* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #038624;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburger span {
    width: 4px;
    background-color: #f7f4f4;* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #048b21;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburger span {
    width: 4px;
    background-color: #ffffff;
    border-radius: 2px
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: #ececec;
    text-decoration: none;
}